.mx-2 {
	margin: 0 .25em
}
.ml-2 {
	margin-left: .25em
}
.mt-4 {
	margin-top: .75em
}
.mt-5 {
	margin-top: 1.25em
}

.nav-pills > li {
	float: unset;
	display: inline-block;
}

/* overrides */
.label-primary[href] {
	transition: .4s;
}
.label-primary[href]:focus, .label-primary[href]:hover {
	background-color : #e91e63;
}
.section {
	padding: 45px 0;
}


/* backgrounds */
.blogs-bg {
	background-image: url('../img/blogs.jpg')
}
.authors-bg {
	background-image: url('../img/authors.jpg')
}
