.m-2 {
	margin: .25em !important;
}
.mx-2 {
	margin: 0 .25em !important;
}
.mx-3 {
	margin: 0 .5em !important;
}
.mt-2 {
	margin-top: .25em !important;
}
.ml-2 {
	margin-left: .25em !important;
}
.mr-2 {
	margin-right: .25em !important;
}
.mt-4 {
	margin-top: .75em !important;
}
.mt-5 {
	margin-top: 1.25em !important;
}
.mt-6 {
	margin-top: 1.75em !important;
}
.mt-7 {
	margin-top: 3em !important;
}

.nav-pills > li {
	float: unset;
	display: inline-block;
}

/* overrides */
.label-primary[href] {
	transition: .4s;
}
.label-primary[href]:focus, .label-primary[href]:hover {
	background-color : #e91e63;
}
.section {
	padding: 45px 0;
}
.label {
	margin: 3px;
	display: inline-block;
}
.not-shown {
	display: none;
}
.subscribe-line{
	margin: 25px 0px;
}
.media:target {
	border: 2px solid #F44336;
	padding: 10px;
}
.media:target {
  animation: highlight 1s ease;
}
@keyframes highlight {
	0% {
		border: 2px solid #F44336;
		padding: 10px;
	}
	100% {
		border: 2px solid #fff;
	}
}
.btn.btn-round, .navbar .navbar-nav > li > a.btn.btn-round {
	margin: 0 4px;
}
@media (max-width: 768px) {
	.navbar .navbar-collapse .navbar-nav > li.button-container > a {
		text-align: center;
		margin: 15px;
	}
	.navbar .navbar-collapse .navbar-nav > li > a {
		text-align: right;
	}
}

/* real custom */

.blog-content > pre.prettyprint {
	padding: 20px 10px;
	border-color: #9C27B0;
}

.blog-content > img {
	max-height: 400px;
	margin: 25px auto;
	display: block;
}

.blog-content > p {
	line-height: 2em;
}

.blog-content kbd {
	margin: 0 1px;
}

@media (max-width: 768px) {
	#cd-vertical-nav {
		display: none;
	}
}


/* same heights */
.random-blogs .card-description {
	min-height: 100px;
}
.latest-blogs .card-description {
	min-height: 75px;
}

/* backgrounds */
.blogs-bg {
	background-image: url('../img/blogs.jpg')
}
.authors-bg {
	background-image: url('../img/authors.jpg')
}
.faq-bg {
	background-image: url('../img/faq.jpg')
}
.workshops-bg {
	background-image: url('../img/workshops.jpg')
}
.signup-bg {
	background-image: url('../img/signup.jpg')
}
.about-bg {
	background-image: url('../img/about.jpg')
}
.download-bg {
	background-image: url('../img/download.jpg')
}
.background-fixed {
    background-attachment: fixed;
}
