@font-face {
	font-family: "Yekan";
	src: url(../fonts/Yekan.woff);
}
@font-face {
	font-family: "Dinar";
	src: url(../fonts/Dinar.ttf);
}

.dinar {
	font-family: 'Dinar' !important;
}

.yekan {
	font-family: 'Yekan' !important;
}
