@font-face {
	font-family: "Yekan";
	src: url(../fonts/Yekan.woff);
}
@font-face {
	font-family: "Dinar";
	src: url(../fonts/Dinar.ttf);
}
@font-face {
	font-family: "Calibri";
	src: url(../fonts/Calibri.ttf);
}

.dinar {
	font-family: 'Dinar' !important;
}

.yekan {
	font-family: 'Yekan', 'Calibri' !important;
}

.calibri {
	font-family: 'Calibri' !important;
}
